/* Reset de estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Estilos do Body */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribui o espaço entre os elementos fixos */
    align-items: center;
    height: 100vh;
    overflow: hidden; /* Impede a rolagem */
    background-color: #000;
    color: #fff;
    margin: 0; /* Garante que o body ocupe a tela inteira */
    padding: 0; /* Remove qualquer padding extra */
    text-align: center; /* Centraliza o conteúdo textual */
    transition: background-color 1.5s ease, color 0.5s ease;
}

/* Títulos e subtítulos */
h1, h2, h3, h4, h5, h6 {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Links e Botões */
a, .category-button, .submit-button, .privacy-link {
    font-family: Arial, sans-serif;
    text-decoration: none;
    transition: color 0.3s ease;
}

/* Texto explicativo */
.info-text, .dark-message, .terms-check label {
    font-family: Arial, sans-serif;
}

/* Estilo para o contêiner do logo */
.logo-container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    position: absolute;
    top: 15%; /* Ajuste conforme necessário */
    left: 0; /* Garante que o contêiner cobre toda a tela */
    width: 100%; /* Garante a largura total da tela */
    z-index: 20;
}

/* Ajuste do Banner com botões e logo */
.banner-container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    flex-direction: column; /* Empilha elementos verticalmente */
    height: 100vh; /* Ocupa toda a altura visível da tela */
    width: 100%; /* Ocupa toda a largura da tela */
    position: absolute; /* Garante contexto de posicionamento para centralizar */
    top: 0; /* Centraliza verticalmente */
    left: 0; /* Centraliza horizontalmente */
    text-align: center; /* Centraliza qualquer texto dentro do contêiner */
}


/* Estilo para a imagem do logo */
.logo {
    width: 10vw; /* A largura da imagem será 20% da largura da viewport */
    height: flex; /* Mantém a proporção da altura conforme a largura */
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura disponível */
    margin-bottom: 5%;
}



/* Título do Banner */
.banner-container h1 {
    font-size: 5vw;
    color: #fff;
    text-shadow: 1px 7px 7px rgba(104, 103, 103, 0.7);
    transition: color 0.3s ease;
    animation: tremer 0.1s infinite ease-in-out;
}


.banner-container .info-text:hover {
    color: #aaa;
}


.confess-button {
    background-color: #ff0000;
    color: #000000;
}

.confess-button:hover {
    background-color: #ff6666;
    color: #fff;
    transform: scale(1.05);
}

.judge-button {
    background-color: #1e90ff;
    color: #000000;
}

.judge-button:hover {
    background-color: #6495ed;
    color: #fff;
    transform: scale(1.05);
}

/* Animação de tremor sutil */
@keyframes tremer {
    0% {
        transform: translate(0, 0);
    }
    20% {
        transform: translate(-0.5%, 0);
    }
    40% {
        transform: translate(0.5%, 0);
    }
    60% {
        transform: translate(0, -0.5%);
    }
    80% {
        transform: translate(0, 0.5%);
    }
    100% {
        transform: translate(0, 0);
    }
}


/* Texto explicativo */
.info-text {
    font-size: 1vw;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    max-width: 80%;
    z-index: 10;
    transition: opacity 1s ease;
}



/* Ajuste do container do banner com botões e logo */
.banner-container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    flex-direction: column; /* Empilha elementos verticalmente */
    height: 100vh; /* Ocupa toda a altura visível da tela */
    width: 100%; /* Ocupa toda a largura da tela */
    position: absolute; /* Garante contexto de posicionamento para centralizar */
    top: 0; /* Centraliza verticalmente */
    left: 0; /* Centraliza horizontalmente */
    text-align: center; /* Centraliza qualquer texto dentro do contêiner */
    gap: 20px; /* Espaçamento entre elementos */
}

/* Ajuste do container dos botões */
.button-container {
    display: flex;
    gap: 15px; /* Espaçamento entre os botões */
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px; /* Ajusta a distância entre título/subtítulo e os botões */
    position: relative;
    z-index: 10; /* Aumenta a prioridade no empilhamento */
}


/* Estilos dos botões */
.confess-button,
.judge-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.5vw;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, font-size 0.3s;
     position: relative;
    z-index: 15; /* Garante que os botões tenham maior prioridade que outros elementos */
}


/* Mensagem Sombria */
.dark-message {
    position: absolute;
    font-size: 2vw;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 1.5s ease;
    display: none;
}


/* Banner visível após a animação */
.banner.visible {
    opacity: 1;
}

/* Banner */
.banner {
    position: absolute;
    top: 5%; /* Fixa no topo da tela */
    flex-direction: column; /* Empilha os elementos verticalmente */
    width: 100%; /* O banner agora ocupa toda a largura da tela */
    height: 60vh; /* O banner ocupa 50% da altura da tela */
    justify-content: center;
    align-items: center;
    padding: 10px; /* Borda interna do container */
    transform: translateX(-50%); /* Centraliza ainda mais */
    opacity: 0; /* Começa invisível */
    transition: opacity 0.3s ease;
    box-sizing: border-box;
    align-items: center; /* Centraliza os elementos horizontalmente */
}

/* Adicionando transição suave para opacidade */
.logo-container, h1, .info-text, .button-container {
    transition: opacity 1s ease-out;
}


/* Estilo para o container da caixa de texto */
.confession-box-container {
    position: absolute; /* Garante que o container não interfira no fluxo da página */
    top: 0; /* Inicia no topo */
    left: 0; /* Alinhado à esquerda */
    width: 100%; /* Ocupa toda a largura */
    height: 60%; /* Ocupa a metade superior da tela */
    padding: 5px; /* Espaço interno */
    box-sizing: border-box;
    z-index: 100; /* Garante prioridade visual */
    display: flex; /* Ativa o modelo Flexbox */
    justify-content: center; /* Centraliza horizontalmente o conteúdo */
    align-items: center; /* Centraliza verticalmente o conteúdo */
}


#confessionBox {
    display: none; /* Inicialmente oculto */
    width: 100%; /* Ocupa toda a largura do container */
    height: 100%; /* Ocupa toda a altura do container */
    padding: 10px; /* Espaço interno da caixa de texto */
    font-size: 16px; /* Tamanho da fonte */
    border: 2px solid #fc0404; /* Define uma borda */
    border-radius: 5px; /* Bordas arredondadas */
    background-color: #fff; /* Cor de fundo */
    color: #333; /* Cor do texto */
    resize: none; /* Remove a funcionalidade de redimensionar */
    box-sizing: border-box; /* Inclui bordas e padding no tamanho total */
    opacity: 0; /* Inicialmente invisível */
    transition: opacity 0.5s ease; /* Transição suave para opacidade */
}


/* Caixa de texto expandida */
.expanded {
    display: block !important; /* Força a exibição */
    opacity: 1; /* Torna visível */
    transition: opacity 0.5s ease; /* Transição suave */
}

.confession-box {
    width: 100%; /* Ocupa 100% do container (ajustado pelo padding) */
    height: 100%; /* Ocupa toda a altura disponível (ajustado pelo padding) */
    padding: 10px; /* Espaçamento interno dentro da caixa de texto */
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #fc0404; /* Define a borda */
    background-color: #fff; /* Cor de fundo */
    color: #333; /* Cor do texto */
    resize: none; /* Remove o redimensionamento */
    box-sizing: border-box; /* Inclui borda e padding no cálculo de tamanho */
}
    
 
/* Contêiner de categorias */
.categories-container {
    position: fixed; /* Fixa o container na tela */
    top: 100%; /* Começa a partir da metade da tela */
    width: 100%;
    height: 50vh; /* Ocupa a metade inferior da tela */
    display: flex;
    flex-direction: column; /* Organiza os itens verticalmente */
    align-items: center; /* Centraliza os itens horizontalmente */
    padding: 40px; /* Borda interna do container */
    box-sizing: border-box;
    gap: 20px; /* Espaçamento entre os itens */
    z-index: 10; /* Garante que o container ficará acima de outros elementos */
}

.categories-container .category-buttons {
    display: flex; /* Alinha os botões horizontalmente */
    justify-content: center; /* Centraliza os botões dentro do contêiner */
    gap: 10px; /* Espaçamento entre os botões */
}

/* Botões de categoria */
.category-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 1vw;
    cursor: pointer;
    transition: background-color 0.3s;
}

.category-button.selected-category {
    background-color: #dd3a3a;
    color: white;
}

.category-button:hover {
    background-color: #dd3a3a;
}

/* Garantir que apenas os botões fiquem lado a lado */
.categories-container > .category-button {
    display: inline-flex; /* Alinha botões horizontalmente */
    flex-wrap: wrap; /* Permite quebra de linha em telas pequenas */
    gap: 10px; /* Espaçamento entre botões */
}

/* Link para os termos de uso */
.privacy-link {
    display: block;
    font-size: 1.2vw;
    margin-top: 10px;
    color: #f00;
    text-decoration: underline;
}

.privacy-link:hover {
    color: #aa0000;
}

/* Caixa de seleção de aceitação dos termos */
.terms-check {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    font-size: 1vw;
    margin-top: 20px;
}

/* Estilo do label de aceitação */
.terms-check label {
    font-size: 1vw;
    color: #000;
}

/* Estilo do checkbox de aceitação */
input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

input[type="checkbox"]:checked {
    background-color: #dd3a3a;
    border-color: #dd3a3a;
}

input[type="checkbox"]:checked::after {
    content: '✔';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 16px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="checkbox"]:hover {
    border-color: #af2424;
    background-color: #af2424;
}

/* Botão de envio */
.submit-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #dd3a3a;
    color: #fff;
    font-size: 1vw;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    opacity: 0.5;
    transition: opacity 0.3s;
}

.submit-button:disabled {
    cursor: not-allowed;
}



/* Tooltip */
.tooltip {
    position: absolute;
    background-color: #f00;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.9vw;
    display: none;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

/* Ícone de bloqueio no botão desabilitado */
#submitButton:disabled {
    cursor: not-allowed;
    position: relative;
}

/* Estilo do Tooltip */
#tooltip {
    display: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
    z-index: 1000;
}

/* Transição suave de opacidade */
.fade-out {
    animation: fadeOut 1s forwards;
}

/* Animação de escurecimento */
@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

button.clicked {
    background-color: #aa0000;
    transform: scale(0.98);
    box-shadow: none;
    transition: background-color 0.2s, transform 0.2s;
}

#optionsBanner {
    transform: translateY(-40px);
}


/* Ajustes para dispositivos móveis */
@media (max-width: 768px) {
    /* Título */
    h1 {
        font-size: 10vw; /* Título maior no celular */
        text-align: center;
    }

    /* Texto explicativo */
    .info-text {
        font-size: 3vw;
        text-align: center;
        max-width: 90%;
    }

    /* Container do banner */
    .banner-container {
        gap: 10px;
    }
    
    /* Botões principais */
    .confess-button,
    .judge-button {
        padding: 10px 20px;
        font-size: 4vw;
    }

    /* Caixa de confissão */
    .confession-box {
        position: relative;
        margin: 0 auto;
        width: 100%;
        max-width: 98%;
        height: 100%;
        padding: 10px;
        font-size: 16px;
        border: 2px solid #fc0404;
        border-radius: 5px;
        background-color: #fff;
        color: #333;
        resize: none;
        box-sizing: border-box;
    }
    
    .confession-box.expanded {
        width: 99%;
        height: 50vh;
        top: 5%;
        left: 50%;
        transform: translate(-50%, 0);
    }

    /* Contêiner de categorias */
    .categories-container {
        padding: 1px;
    }

    .categories-container .category-buttons {
        display: flex;
        flex-wrap: wrap; /* Permite quebrar linha se necessário */
        justify-content: center; /* Centraliza os botões */
        gap: 5px; /* Espaçamento entre os botões */
    }

    .category-button {
        flex: 1 1 calc(33.33% - 10px); /* Cada botão ocupa ~33% da largura menos o gap */
        max-width: calc(33.33% - 10px); /* Limita a largura */
        padding: 8px; /* Ajusta o espaçamento interno */
        font-size: 3vw; /* Fonte responsiva */
        text-align: center;
    }

    /* Links e texto */
    .privacy-link {
        font-size: 0.6em;
    }

    .confession-box-container {
        position: fixed;
        top: 2px;
        left: 1%;
        width: 95%;
        height: 50%;
        padding: 10px;
        box-sizing: border-box;
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #optionsBanner {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 95%;
        height: 55%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px;
        gap: 15px;
        box-sizing: border-box;
    }

    .terms-check label {
        font-size: 2em;
    }

    .submit-button {
        font-size: 0.5em
    }

    .logo {
        width: 4em;
    }
}

