* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
    transition: background-color 1.5s ease, color 0.5s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

a,
.category-button,
.submit-button,
.privacy-link {
    font-family: Arial, sans-serif;
    text-decoration: none;
    transition: color 0.3s ease;
}

.info-text,
.dark-message,
.terms-check label {
    font-family: Arial, sans-serif;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    z-index: 20;
}

.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 20;
}

.logo {
    width: 10vw;
    height: flex;
    max-width: 100%;
    margin-bottom: 2%;
}

.banner-container h1 {
    margin-bottom: 1%;
    font-size: 5vw;
    color: #fff;
    text-shadow: 1px 7px 7px rgba(104, 103, 103, 0.7);
    transition: color 0.3s ease;
    animation: tremer 0.1s infinite ease-in-out;
}

.banner-container .info-text:hover {
    color: #aaa;
}

.confess-button {
    background-color: #ff0000;
    color: #000000;
}

.confess-button:hover {
    background-color: #ff6666;
    color: #fff;
    transform: scale(1.05);
}

.judge-button {
    background-color: #1e90ff;
    color: #000000;
}

.judge-button:hover {
    background-color: #6495ed;
    color: #fff;
    transform: scale(1.05);
}

@keyframes tremer {
    0% {
        transform: translate(0, 0);
    }

    20% {
        transform: translate(-0.5%, 0);
    }

    40% {
        transform: translate(0.5%, 0);
    }

    60% {
        transform: translate(0, -0.5%);
    }

    80% {
        transform: translate(0, 0.5%);
    }

    100% {
        transform: translate(0, 0);
    }
}

.info-text {
    font-size: 1vw;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    max-width: 80%;
    z-index: 10;
    transition: opacity 1s ease;
    margin-top: -5%;
}

.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%vh;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    gap: 8vh;
}

.button-container {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    position: relative;
    z-index: 10;
}

.confess-button,
.judge-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.5vw;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, font-size 0.3s;
    position: relative;
    z-index: 15;
}

.dark-message {
    position: absolute;
    font-size: 2vw;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 1.5s ease;
    display: none;
}

.banner.visible {
    opacity: 1;
}

.banner {
    position: absolute;
    top: 5%;
    flex-direction: column;
    width: 100%;
    height: 60vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    box-sizing: border-box;
    align-items: center;
}

.logo-container,
h1,
.info-text,
.button-container {
    transition: opacity 1s ease-out;
}

.confession-box-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    padding: 5px;
    box-sizing: border-box;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

#confessionBox {
    display: none;
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #fc0404;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    resize: none;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.expanded {
    display: block !important;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.confession-box {
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #fc0404;
    background-color: #fff;
    color: #333;
    resize: none;
    box-sizing: border-box;
}

.categories-container {
    position: fixed;
    top: 100%;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    box-sizing: border-box;
    gap: 20px;
    z-index: 10;
}

.categories-container .category-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.category-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 1vw;
    cursor: pointer;
    transition: background-color 0.3s;
}

.category-button.selected-category {
    background-color: #dd3a3a;
    color: white;
}

.category-button:hover {
    background-color: #dd3a3a;
}

.categories-container>.category-button {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px;
}

.privacy-link {
    display: block;
    font-size: 1.2vw;
    margin-top: 10px;
    color: #f00;
    text-decoration: underline;
}

.privacy-link:hover {
    color: #aa0000;
}

.terms-check {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    font-size: 1vw;
    margin-top: 20px;
}

.terms-check label {
    font-size: 1vw;
    color: #000;
}

input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

input[type="checkbox"]:checked {
    background-color: #dd3a3a;
    border-color: #dd3a3a;
}

input[type="checkbox"]:checked::after {
    content: '✔';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 16px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="checkbox"]:hover {
    border-color: #af2424;
    background-color: #af2424;
}

.submit-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #dd3a3a;
    color: #fff;
    font-size: 1vw;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    opacity: 0.5;
    transition: opacity 0.3s;
}

.submit-button:disabled {
    cursor: not-allowed;
}

.tooltip {
    position: absolute;
    background-color: #f00;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.9vw;
    display: none;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

#submitButton:disabled {
    cursor: not-allowed;
    position: relative;
}

#tooltip {
    display: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
    z-index: 1000;
}

.fade-out {
    animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

button.clicked {
    background-color: #aa0000;
    transform: scale(0.98);
    box-shadow: none;
    transition: background-color 0.2s, transform 0.2s;
}

#optionsBanner {
    transform: translateY(-40px);
}

@media (max-width: 768px) {
    h1 {
        font-size: 11vw;
        text-align: center;
    }

    .info-text {
        font-size: 3vw;
        text-align: center;
        max-width: 90%;
        margin-top: -7vh;
    }

    .banner-container {
        gap: 3em;
    }

    .confess-button,
    .judge-button {
        padding: 10px 20px;
        font-size: 4vw;
    }

    .confession-box {
        top: 7%;
        position: relative;
        margin: 0 auto;
        width: 100%;
        max-width: 98%;
        height: 100%;
        padding: 10px;
        font-size: 16px;
        border: 2px solid #fc0404;
        border-radius: 5px;
        background-color: #fff;
        color: #333;
        resize: none;
        box-sizing: border-box;
    }

    .categories-container {
        padding: 1px;
    }

    .categories-container .category-buttons {
        margin-top: -1em;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.9vh;
        width: 96%
    }

    .category-button {
        flex: 1 1 calc(33.33% - 10px);
        max-width: calc(33.33% - 10px);
        padding: 8px;
        font-size: 3vw;
        text-align: center;
    }

    .privacy-link {
        font-size: 1em;

    }

    #optionsBanner {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 95%;
        height: 55%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px;
        gap: 15px;
        box-sizing: border-box;
    }

    .confession-box-container {
        position: fixed;
        top: 0px;
        left: 0%;
        width: 100%;
        height: 50%;
        padding: 10px;
        box-sizing: border-box;
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .terms-check label {
        font-size: clamp(15px, 2vw, 24px);
        text-align: center;
    }

    .submit-button {
        margin-top: 1em;
        font-size: 0.6em;

    }
}
